.container{
    display: flex;
    border: 10px solid;
    height: 90vh;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: hsl(0, 94%, 65%);
    order: 1;
}
#box2{
    background-color: hsl(58, 100%, 55%);
    align-self: center;
}
#box3{
    background-color: hsl(134, 96%, 56%);
}
#box4{
    background-color: hsl(202, 100%, 52%);
}