*{
    box-sizing: border-box;

}
.container{
    background-color: aqua;
    height: 100vh;
}
.box{
    background-color: rgb(162, 255, 0);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-height: 75%;
}